<!DOCTYPE html>
<html>
  <head>
      {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">
  </head>
<body>
    <div class="main">
        <div class="header-add">
            <h2>TO-DO-LIST</h2>
            <div class="tasks-list pt-20">
                <p>Are you sure you want to delete "{{ item }}"?</p>

                <form method="post" action=" ">
                    {% csrf_token %}
                    <button type="submit" class="btn create-btn mt">Confirm</button>
                </form>
                <button type="submit" class="btn create-btn mt">
                    <a href="{% url 'list' %}">Cancel</a>
                </button>
            </div>
        </div>
    </div>
</body>
</html>
