<!DOCTYPE html>
<html>
  <head>
      {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">
  </head>
<body>
    <div class="main">
        <div class="header-add">
            <h2>TO-DO-LIST</h2>
            <div class="tasks-list">
                <form method="post" action="/">
                    {% csrf_token %}
                    {{ form.title }}
                    <button type="submit" class="btn create-btn">Create Task</button>
                </form>
            </div>
        </div>
        <div class="tasks-list">
            {% for task in tasks %}
                <div class="list">
                    {% if task.complete == True %}
                        <strike>{{ task }}</strike>
                        {% else %}
                        <span>{{ task }}</span>
                    {% endif %}
                    <div class="btn-flex">
                        <button class="btn">
                            <a href="{% url 'update_task' task.id %}">Update</a>
                        </button>
                        <button class="btn">
                            <a href="{% url 'delete_task' task.id %}">Delete</a>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>