<!DOCTYPE html>
<html>
  <head>
      {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">
  </head>
<body>
    <div class="main">
        <div class="header-add">
            <h2>TO-DO-LIST</h2>
            <div class="tasks-list pt-20">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn create-btn mt">Update Task</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
