body {
    background-color: #88c9e6;
    color: white;
    font-family: Poppins,sans-serif;
    font-size: 14px;
}

.pt-20 {
    padding: 20px !important;
}

.mt {
    margin-top: 10px !important;
}

.header-add {
    text-align: center;
}

.create-btn {
    color: white !important;
}

a:link, a:visited {
    color: white;
}

a:link {
    text-decoration: none;
    color: white !important;
}

input[type=text] {
  padding: 6px 86px;
  box-sizing: border-box;
}

.list {
    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.btn {
  background-color: #88c9e6;
  border: none;
  padding: 7px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.tasks-list {
    text-align: center;
    max-width: 474px;
    margin: 0 auto;
    background-color: white;
    color: black;
    padding: 6px;
    margin-top: 30px;
}

